<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Info</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid" style="background-color: darkslategrey; color: white">
        <br />
        <!--<form action="{{url_for('refresh')}}" method="GET" role="form"> -->
        <form action="#" method="GET" role="form">
            <button type="submit" class="btn btn-primary">Refresh</button>
        </form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr class="text-white">
                  <th scope="col">#</th>
                  <th scope="col">Company</th>
                  <th scope="col">Market Price</th>
                  <th scope="col">EPS</th>
                  <th scope="col">P/E Ratio</th>
                  <th scope="col">Book Value</th>
                  <th scope="col">PBV</th>
                </tr>
              </thead>
              <tbody>
              {% for row in data %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td><a href="{{ row['company_url'] }}" target="_blank">{{row['company_name']}}</a></td>
                  <td>{{row['Market Price']}}</td>
                  <td>{{row['EPS']}}</td>
                  <td>{{row['P/E Ratio']}}</td>
                  <td>{{row['Book Value']}}</td>
                  <td>{{row['PBV']}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
</body>
</html>